<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Equipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='site.css')}}"/>
</head>
<body>
        <!-- Menu do topo -->
        <ul class="topmenu">
            <li class="topmenu"><a href="index">Resultados</a></li>
            <li class="topmenu"><a href="times">Times</a></li>
            <li class="topmenu active"><a href="cadastro">Cadastro de Equipes</a></li>  
             </ul> </br></br></br>
             <!-- Fim do menu do topo -->

    <h1 class="branco">Relação de Equipes</h1><br/>
    <h2 class="branco">Realize o cadastro abaixo:</h2><br/>
    <form action="cadastrar" method="POST">
        <p class="conteudo">
        <label >equipe:</label> 
        <input type="text" maxlength="50" name="equipe"/>
        <label>telefone:</label>
        <input type="text" name="telefone"/>
        <label>cidade:</label>
        <input type="text" name="cidade"/>
        <label>tecnico:</label>
        <input type="text" name="tecnico"/>
        <label>jogador:</label>
        <input type="text" name="jogador"/>
        <input type="submit" value="Salvar"/><br/><br/></p>
    </form>
</body>
</html>
