<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Volei - Campeonato 2020</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='site.css') }}"/>
</head>
<body>
            <!-- Menu do topo -->
 <ul class="topmenu">
    <li class="topmenu active"><a href="index">Resultados</a></li>
    <li class="topmenu"><a href="times">Times</a></li>
    <li class="topmenu"><a href="cadastro">Cadastro de Equipes</a></li>  
     </ul> </br></br></br>
     <!-- Fim do menu do topo -->
     <p> </p>
     <p> </p>

    <h2 class="branco">Resultados</h2> <br/>
    <h2 class="branco">Lista de Jogos e Tabela de Colocação do Campeonato de  Volei</h2> <br/>
     
    <h2 class="branco">
    <table>
        <tr>
            <td>Time</td>
            <td>Pontuação</td>
        </tr>
        <tr>
            <td>Sesi Vôlei Bauru</td>
            <td>15</td>
        </tr>
        <tr>
            <td>Osasco Audax</td>
            <td>11</td>
        </tr>
        <tr>
            <td>São Paulo</td>
            <td>9</td>
        </tr>
        <tr>
            <td>Pinheiros</td>
            <td>7</td>
        </tr>
        <tr>
            <td>Renata Valinhos Country</td>
            <td>2</td>
        </tr>
        <tr>
            <td>São Caetano Vôlei</td>
            <td>1</td>
        </tr>
    </table>
</h2>
        
</body>
</html>
