<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Volei - Equipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='site.css')}}"/>
</head>
<body>
            <!-- Menu do topo -->
            <ul class="topmenu">
                <li class="topmenu"><a href="index">Resultados</a></li>
                <li class="topmenu active"><a href="times">Times</a></li>
                <li class="topmenu"><a href="cadastro">Cadastro de Equipes</a></li>  
                 </ul> </br></br></br>
     <!-- Fim do menu do topo -->
     <p> </p>
     <p> </p>

    <h2 class="branco">Detalhes das Equipes</h2> <br/>

    <h2 class="branco">
    <li> Campeonato Paulista de vôlei feminino 2020:   <br/><br/><br/>
    
      <li>Sesi Vôlei Bauru</li>
      <p class="conteudo">15 Pontos 5 Jogos 5 Vitórias 0 Derrotas </p>
      <li>Osasco Audax</li>
      <p class="conteudo">11 Pontos 5 Jogos 4 Vitórias 1 Derrotas </p>
      <li>São Paulo</li>
      <p class="conteudo">9 Pontos 5 Jogos 3 Vitórias 2 Derrotas </p>
      <li>Pinheiros</li>
      <p class="conteudo">7 Pontos 5 Jogos 2 Vitórias 3 Derrotas </p>
      <li>Renata Valinhos Country</li>
      <p class="conteudo">2 Pontos 5 Jogos 1 Vitórias 4 Derrotas </p>
      <li>São Caetano Vôlei</li>
      <p class="conteudo">1 Pontos 5 Jogos 0 Vitórias 5 Derrotas </p>

  
  </li> </h2>
    
</body>
</html>
